@font-face {
	font-family: 'FredokaOne-Regular';
	src: url('../fonts/FredokaOne-Regular.ttf');
}

@font-face {
	font-family: 'Quicksand-VariableFont_wght';
	src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Sniglet-ExtraBold';
	src: url('../fonts/Sniglet-ExtraBold.ttf');
}

@font-face {
	font-family: 'Sniglet-Regular';
	src: url('../fonts/Sniglet-Regular.ttf');
}

/* Header Section */

header div
{
	 padding-right: 5px;
	 padding-left: 5px;
	 padding-bottom: 5px;
}
 .title
 {
	 padding: 0!important;
	 font-family: Sniglet-ExtraBold , sans-serif;
	 margin-top: 15px;
 }

 .title h1
 {
	 font-size: 1.5rem!important;
	 margin-bottom: 0;
	 color: #816fca;
	 margin-left: 15px;
 }

 .ligne
 {
	 border: 1px solid #aba9a8;
 }
 .list_header
 {
	 padding: 0!important;
	 text-align: center;
	  
 }
 .list_header nav  ul li 
 {
	display: inline;
 }


 .list_header nav ul 
 {
	margin-bottom: 0;
	padding: 0;
	height: 100%;
 }

 .button_header
 {
	 display: inline-block;
	 height: 100%;
	 
 }

 .button_header a
 {
	 color: black;
	 font-size: 14px;
	 font-family: Quicksand-VariableFont_wght , sans-serif;
	 font-weight: bold;
	 text-transform: uppercase;
	 padding: 2em 1em;

 }

 .button_header a:hover
 {
	text-decoration: none;
	background-color: #816fca;
	color: #fff;
 }

 .nav_header  li
 {
	 display: inline;
	 margin-right: 0.2em;
	 margin-left: 0.2em;  
	 font-size: 20px;
 }
 .nav_header
 {
	padding-right: 0!important;
	margin-top: 15px;
 }

 .nav_header ul
 {
	 list-style: none;
	  float: right;
	 margin-bottom: 0;
	 
 }

 @media (min-width: 990px)
{
    #button_nav
    {
		display: none;
	
	}
	#CollapseNavbar
	{
		display: inline;
	}


 .nav_header ul
 {
	  float: right;
 }
	 
}

/* End Header Section */

/* Home Section */

#home_center
{
	
	
	height: 400px;
	padding-top: 5em;
	text-align: center;
	background: url("images/Online-shopping.jpg")  center no-repeat  ; 
}

#home_center h2
{
	color: #fff;
	font-size: 4.5em;
	font-family: Sniglet-ExtraBold , sans-serif;
}

#items
{
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}

#items h3
{
	font-size: 2em;
	font-family: Quicksand-VariableFont_wght , sans-serif;
	font-weight: bold;
	color: #fff;
}

#popular_items, #new_items
{
	background: #262a32;
	margin-bottom: 2em;
	border-radius: 10px;
}
#button_items
{
 color: #fff;
 font-family: Quicksand-VariableFont_wght , sans-serif;
 padding: 1em 2em;
 font-size: 1em;
 background-color: #816fca;
 border-radius: 3px;

}

/* Delevrey Section */
#delivrey
{
	background: #000;
	padding: 2em 1em;
}

#delivrey h4
{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	font-family: Quicksand-VariableFont_wght , sans-serif;
}

/* Footer Section */
footer
{
	padding-top: 2em;
}

footer ul
{
	list-style: none;
}

footer ul a
{
	color: #000;
}

footer ul li a:hover
{
	text-decoration: none;
}
.social_media li
{
	display: inline;
	margin-left: 3px;
}

/* Catalog Section */


#catalog
{
	background: #FD7C61;
 text-align: center;
 padding:2em 1em;
}

#catalog h2
{
	font-family: Quicksand-VariableFont_wght , sans-serif;
	font-weight:bold;
	color:#fff;
	font-size:4em;
	margin-bottom: 1em;
}

#catalog a , #catalog p
{
	color:#fff;
}

#catalog a:hover
{
	text-decoration: none;
}

.buttons
{
	background: #CA634E;
	text-align: justify;
	width: auto;
	border-radius: 30px;
	display: inline-block;
	padding: 0.5em 0.7em;
}


.buttons button
{
	background: #FD7C61;
	border-radius: 30px;
	border: 0;
	font-family: Quicksand-VariableFont_wght , sans-serif;

}

.buttons button:hover
{
	background: #CA634E;
}

/* End Section Catalog */

/* Section Ajouter Produit */
#ajouter
{
	background: #F1F1F1;
	padding: 2em 1em;
	text-align: center;
}

#ajouterProduit
{
	background: #fff;
	padding: 2em 2em; 
	text-align: left;
	border-radius: 10px;
	border: 1px solid #816FCA;

}
 
#ajouterProduit label
{
	font-family: FredokaOne-Regular , sans-serif;
	font-weight:bold;
	color:#816FCA;
	font-size:1em;
	display: inline-block;
	margin-top: 2em;
}
#ajouterProduit input , #ajouterProduit select 
{
	float: right;
	margin-top: 2em;
	border-radius: 10px;
}
#ajouterProduit textarea
{
	display: block;
	margin-top:1em;
	margin-bottom: 3em;
	margin-left: 2em;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
#ajouter h2
{
	font-family: Quicksand-VariableFont_wght , sans-serif;
	font-weight:bold;
	color:#000;
	font-size:3em;
	margin-bottom: 0.5em;
}
#ajouter a , #ajouter p
{
	color:#000;
}

#ajouter a:hover
{
	text-decoration: none;
}
.ajoutElement
{
	margin: 2em 1em;
}
 
input[type="file"] {
 
	font-family: FredokaOne-Regular , sans-serif;
	font-weight:bold;
	color:rgb(219, 219, 219);
	font-size:1em;
}